.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

:global(.Wrapper) {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

:global(.Block) {
  height: 50%;
  align-items: center;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #333;
  color: #fff;
  box-sizing: border-box;
}
