:local(.firstClass) {
  background: blue;
  padding: 20px;
  border-radius: 20px;
}

:local(.secondClass) {
  background: green;
  padding: 20px;
  border-radius: 20px;
}

:local(.thirdClass) {
  background: gold;
  padding: 20px;
  border-radius: 20px;
}
